
.calendar {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}

.calendar thead {
    border: 1px solid #ccc;
}

.calendar th {
    text-align: center;
}

.calendar td {
    position: relative;
    width: 3em;
    height: 3em;
    text-align: center;
}

.calendar td.zebra0 {
    background: #fff;
}

.calendar td.zebra1 {
    background: #eee;
}

.calendar td.zebra2 {
    background: #ddd;
}

.calendar-daynumber {
    /* float: right; */
    position: absolute;
    top: 0px;
    right: 0px;
}
