
.tvguide-simpleview-container {
    position: relative;

    overflow: auto;

    width: 100%;
    height: 100%;
}

.tvguide-simpleview {
    position: relative;

    overflow: hidden;
}

.tvguide-simpleview-row {
    position: relative;
}

.tvguide-simpleview-event {
    position: absolute;

    overflow: hidden;
    white-space: nowrap;

    /* fill containing row element */
    height: 100%;

    font-weight: bold;

    background: #ccc;

    background-size: cover;
}

.tvguide-simpleview-event-title {
    position: absolute;
    top: 0px;
    left: 0px;
}

.tvguide-simpleview-event-veil {
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .6;
}

.tvguide-simpleview-datemarker {
    width: 100%;
    text-align: center;
}
