{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ThingsHappening{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{% static "thingshappening/img/favicon.png" %}">
        {% block css %}
            <link rel="stylesheet" href="{% static "bootstrap-3.3.7-dist/css/bootstrap.min.css" %}">
            <link rel="stylesheet" href="{% static "thingshappening/css/th_main.css" %}">
            <link rel="stylesheet" href="{% static "thingshappening/css/th_calendar.css" %}">
            <link rel="stylesheet" href="{% static "thingshappening/css/tvguide.css" %}">
            <link rel="stylesheet" href="{% static "jquery-ui-1.12.1/jquery-ui.min.css" %}">
        {% endblock %}
    </head>
    <body>
        <nav id="nav-main" class="navbar navbar-default">
            <div class="container">
                <row>
                    <style>
                        .th-nav {
                            margin-left: 1.5em;
                            margin-right: 1.5em;
                            display: inline-block;
                            vertical-align: top;
                        }
                    </style>
                    <div class="navbar-header">
                        <!--
                        <div class="th-nav">
                            <h4>Nav</h4>
                            <ul>
                                <li>Go <a href="{% url "index" %}">home</a>.</li>
                                <li>Test the <a href="{% url "calendar_test" %}">calendar widget</a>.</li>
                                <li>Test the <a href="{% url "tvguide_test" %}">TV guide widget</a>.</li>
                            </ul>
                        </div>
                        -->
                        <div class="th-nav">
                                <h3>ThingsHappening</h3>
                            </a>
                            <h4>
                                {% if request.user.is_authenticated %}
                                    Hello <strong>{{ request.user.username }}</strong>!
                                {% else %}
                                    You're not logged in.
                                {% endif %}
                            </h4>
                            <ul>
                                {% if request.user.is_authenticated %}
                                    <li>Start an <a href="{% url "event-create" %}">event</a>.</li>
                                    <li>See your <a href="{% url "event-list" %}?user_id={{ request.user.pk }}">existing events</a>.</li>
                                    <li><a href="{% url "auth:logout" %}">Log out</a>.</li>
                                {% else %}
                                    <li>Ok, I'll <a href="{% url "auth:login" %}">log in</a>, then.</li>
                                    <li>Actually, I need to <a href="{% url "auth:signup" %}">make an account</a>.</li>
                                {% endif %}
                                <li>Play with the widget on the <a href="{% url "index" %}">main page</a>.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% block main %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% block js %}
            <script src="{% static "thingshappening/js/jquery-3.3.1.min.js" %}"></script>
            <script src="{% static "thingshappening/js/moment-with-locales.min.js" %}"></script>
            <script src="{% static "bootstrap-3.3.7-dist/js/bootstrap.min.js" %}"></script>
            <script src="{% static "thingshappening/js/th_api.js" %}"></script>
            <script src="{% static "thingshappening/js/th_calendar.js" %}"></script>
            <script src="{% static "thingshappening/js/tvguide.js" %}"></script>
            <script src="{% static "jquery-ui-1.12.1/jquery-ui.min.js" %}"></script>
        {% endblock %}
    </body>
</html>