{% extends "base.html" %}

{% block js %}
{{ block.super }}
<script>
    var TVGuide = window.TVGuide;
    $(document).ready(function(){
        /* For testing only! */

        var main = document.getElementById('main');

        var tvguide = new TVGuide();
        tvguide.add_random_events(40);
        var view = tvguide.get_simple_view();
        main.append(view.render());

    });
</script>
{% endblock %}

{% block main %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="main">
            </div>
        </div>
    </div>
{% endblock %}
